.benefits-section {
  @include media(desktop) {
  }
}

.benefits-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
  }
}

.benefits-container {
  @include media(desktop) {
  }
}

.benefits-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
}

.benefits-text-wrapper {
  max-width: max-content;

  @include media(desktop) {
    max-width: 304px;
  }
}

.benefits-title {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.benefits-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #6a6a6a;

  @include media(desktop) {
    font-size: 20px;
  }
}

.benefits-img {
  @include media(desktop) {
    min-width: 512px;
  }
}
