.faq-section {
  background: #fff;

  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-title {
  text-align: center;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 64px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.faq-list-item {
  box-shadow: 8px 8px 16px 0 rgba(91, 91, 91, 0.12);
  background: #fcf4e7;
  border-radius: 12px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #343434;
  text-align: left;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #626262;
  max-width: 263px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    max-width: 560px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}
