.features-section {
  background: #fff;

  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  background-image: url(../img/features/features-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
    background-image: url(../img/features/features-bg-desk.jpg);
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 64px;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 370px;
  }
}

.features-title {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 182px;
  }
}

.features-subtitle {
  margin-bottom: 0;

  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include media(desktop) {
    gap: 24px;
    max-width: 654px;
  }
}

.features-list-item {
  box-shadow: 8px 8px 16px 0 rgba(91, 91, 91, 0.12);
  border-radius: 24px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 161px;
  min-height: 161px;

  &:nth-child(1) {
    background: #f6c2ac;
  }

  &:nth-child(2) {
    background: #f7d49d;
  }

  &:nth-child(3) {
    background: #d6cae2;
  }

  &:nth-child(4) {
    background: #ced5a9;
  }

  &:nth-child(5) {
    background: #afc3f7;
  }

  &:nth-child(6) {
    background: #f6c2ac;
  }

  @include media(desktop) {
    max-width: 202px;
    min-height: 202px;
  }
}

.features-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #343434;

  @include media(desktop) {
    font-size: 18px;
  }
}
