.gallery-section {
  background: #fcf4e7;

  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
  }
}

.gallery-container {
  @include media(desktop) {
  }
}

.gallery-content-wrapper {
  @include media(desktop) {
  }
}

.gallery-title {
  text-align: center;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 64px;
  }
}

.gallery-subtitle {
  text-align: center;
  color: #343434;
  margin-bottom: 40px;

  @include media(desktop) {
    max-width: 714px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}

.gallery-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 304px;
  }
}

.gallery-img {
  box-shadow: 8px 8px 16px 0 rgba(91, 91, 91, 0.12);
  border-radius: 24px;

  @include media(desktop) {
  }
}
