<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">
          ABOUT<br />
          THE GAME
        </h2>
        <div class="about-text-wrapper">
          <p class="section-subtitle about-subtitle">
            Puzzle Genius: Block Saga blends classic block mechanics with
            multiple game modes and evolving challenges. Whether you prefer calm
            planning or fast-paced decision making, there’s a mode tailored to
            your style.
          </p>
          <p class="about-text about-top-text">
            Align blocks. Clear rows. Avoid overflow. There's something really
            satisfying about watching those rows disappear when you nail the
            perfect placement.
          </p>
          <p class="about-text about-bottom-text">
            We've got the classic 10x10 grid you know and love, plus some crazy
            bomb modes and sliding puzzles that'll keep you on your toes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
