<section class="section benefits-section" id="benefits">
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <div class="benefits-content-wrapper">
        <div class="benefits-text-wrapper">
          <h2 class="section-title benefits-title">GAME DETAILS</h2>
          <p class="benefits-text">
            Version: 0.9<br />
            Updated on: Dec 23, 2024<br />
            Requires Android: 8.1 and up<br />
            Downloads: 100+ downloads<br />
            Content Rating: Everyone<br />
            Offered by: HOW5
          </p>
        </div>
        <picture>
          <source
            srcset="./img/benefits/benefits-img-desk.png"
            media="(min-width: 1440px)"
            width="512"
            height="342" />
          <source
            srcset="./img/benefits/benefits-img-mob.png"
            width="343"
            height="229" />
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="229"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
