<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <picture>
          <source
            srcset="./img/contact/contact-img-desk.png"
            media="(min-width: 1440px)"
            width="496"
            height="303" />
          <source
            srcset="./img/contact/contact-img-mob.png"
            width="343"
            height="210" />
          <img
            class="contact-img"
            src="./img/contact/contact-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="210"
            loading="lazy"
        /></picture>
        <div class="contact-text-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
          <p class="section-subtitle contact-subtitle">
            Have questions or feedback?
          </p>
          <p class="contact-text">
            Got ideas? We're always listening and trying to make the game
            better.
          </p>
          <a href="mailto:info@wideframe.space" class="contact-link"
            ><span>info@wideframe.space</span>
            <span class="contact-email-text">Email us</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
