<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <h2 class="section-title features-title">Features</h2>
        <p class="features-subtitle">
          Everything we built ties back to that core idea of manipulating these
          ancient stone systems.
        </p>
        <ul class="features-list">
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Screenshot of the game"
              width="96"
              height="115"
              loading="lazy"
            />
            <h3 class="features-item-title">Shape the Terrain</h3>
            <p class="features-item-text">
              Move, rotate, and slide ancient stone segments to reshape the
              terrain and create new pathways for the current.
            </p>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Screenshot of the game"
              width="96"
              height="115"
              loading="lazy"
            />
            <h3 class="features-item-title">Control the Flow</h3>
            <p class="features-item-text">
              Guide the living current through carved channels and branching
              paths to power the ancient structures.
            </p>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Screenshot of the game"
              width="96"
              height="115"
              loading="lazy"
            />
            <h3 class="features-item-title">Solve Dynamic Puzzles</h3>
            <p class="features-item-text">
              Each level introduces new mechanics like split currents, pressure
              limits, and unexpected blockages.
            </p>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Screenshot of the game"
              width="96"
              height="115"
              loading="lazy"
            />
            <h3 class="features-item-title">Progress Through Ancient Sites</h3>
            <p class="features-item-text">
              Explore ancient locations as puzzles become more challenging.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
