<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <picture>
            <source
              srcset="./img/hero/hero-title-desk.png"
              media="(min-width: 1440px)"
              width="602"
              height="368" />
            <source
              srcset="./img/hero/hero-title-mob.png"
              width="285"
              height="174" />
            <img
              class="hero-title-img"
              src="./img/hero/hero-title-mob.png"
              alt="Title"
              width="285"
              height="174"
          /></picture>
          <p class="hero-subtitle">
            Ready to give your brain a real workout? This isn't your typical
            block puzzle game.
          </p>
        </div>
        <p class="hero-text">
          Step into the world of Puzzle Genius: Block Saga, a block puzzle
          that'll actually make you think harder than you expected.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.howfiv.puzzlegenius.blocksaga&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
