<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >ABOUT THE GAME</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#modes">modes</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#tips">TIPS</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features">Features</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#benefits"
          >WHY PLAYING</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
