<section class="modes-section section" id="modes">
  <div class="modes-section-wrapper">
    <div class="container modes-container">
      <h2 class="section-title modes-title">GAME MODES</h2>
      <div class="modes-swiper-container">
        <ul class="swiper-wrapper modes-swiper-wrapper">
          <li class="swiper-slide modes-list-item">
            <img
              class="modes-img"
              src="./img/modes/modes-img1.png"
              alt="Screenshot of the game"
              width="94"
              height="100"
              loading="lazy"
            />
            <h3 class="modes-item-title">Classic 10x10</h3>
            <ul class="modes-item-list">
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Drag and drop blocks from the stack onto the grid.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Complete full rows or columns to clear them and earn points.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  The game continues until there’s no space left for the next
                  block.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Calm, strategic, and endlessly replayable.
                </p>
              </li>
            </ul>
          </li>
          <li class="swiper-slide modes-list-item">
            <img
              class="modes-img"
              src="./img/modes/modes-img2.png"
              alt="Screenshot of the game"
              width="94"
              height="100"
              loading="lazy"
            />
            <h3 class="modes-item-title">Timed Mode</h3>
            <ul class="modes-item-list">
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  The classic gameplay — now with pressure.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  A timer runs constantly, forcing you to think and place blocks
                  quickly.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Clear rows fast to stay in the game and beat the clock.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Don't panic when that timer starts ticking - easier said than
                  done, trust me.
                </p>
              </li>
            </ul>
          </li>
          <li class="swiper-slide modes-list-item">
            <img
              class="modes-img"
              src="./img/modes/modes-img3.png"
              alt="Screenshot of the game"
              width="94"
              height="100"
              loading="lazy"
            />
            <h3 class="modes-item-title">Bombed Mode</h3>
            <ul class="modes-item-list">
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  A high-stakes twist on Classic 10x10.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Some blocks contain bombs with countdown timers.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Clear them before detonation by forming rows or columns.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  If the timer reaches zero — boom. Game over.
                </p>
              </li>
            </ul>
          </li>
          <li class="swiper-slide modes-list-item">
            <img
              class="modes-img"
              src="./img/modes/modes-img4.png"
              alt="Screenshot of the game"
              width="94"
              height="100"
              loading="lazy"
            />
            <h3 class="modes-item-title">Slide to Solve</h3>
            <ul class="modes-item-list">
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Move blocks horizontally or vertically within the board.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Align them carefully to form complete rows and columns.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Cleared lines create satisfying splash effects and free up
                  space.
                </p>
              </li>
            </ul>
          </li>
          <li class="swiper-slide modes-list-item">
            <img
              class="modes-img"
              src="./img/modes/modes-img5.png"
              alt="Screenshot of the game"
              width="94"
              height="100"
              loading="lazy"
            />
            <h3 class="modes-item-title">Stay Alert</h3>
            <ul class="modes-item-list">
              <li class="modes-item-list-item">
                <p class="modes-item-text">Blocks continuously move upward.</p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  If they reach the top, the adventure ends.
                </p>
              </li>
              <li class="modes-item-list-item">
                <p class="modes-item-text">
                  Plan ahead, maintain control, and manage space wisely.
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="controls modes-controls">
        <button
          class="arrow-btn"
          id="modesLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="20" height="22">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow-btn" id="modesRightArrow" aria-label="Next slide">
          <svg class="arrow-icon" width="20" height="22">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
