<section class="section tips-section" id="tips">
  <div class="tips-bg-wrapper">
    <div class="container tips-container">
      <div class="tips-content-wrapper">
        <h2 class="section-title tips-title">
          UNIVERSAL<br />
          STRATEGY TIPS
        </h2>
        <div class="tips-text-wrapper">
          <p class="section-subtitle tips-subtitle">
            Random tapping won't get you far here - you've gotta actually think
            about where those blocks go.
          </p>
          <ul class="tips-list">
            <li class="tips-list-item">
              <svg class="check-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="tips-item-text">
                Plan several moves ahead to avoid board clutter.
              </p>
            </li>
            <li class="tips-list-item">
              <svg class="check-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="tips-item-text">
                Leave room for large blocks to maintain flexibility.
              </p>
            </li>
            <li class="tips-list-item">
              <svg class="check-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="tips-item-text">
                Aim for combo clears to maximize points.
              </p>
            </li>
            <li class="tips-list-item">
              <svg class="check-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="tips-item-text">
                Keep the board balanced instead of focusing only on immediate
                clears.
              </p>
            </li>
            <li class="tips-list-item">
              <svg class="check-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="tips-item-text">
                Stay calm under pressure in timed and bomb modes.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
